{% extends "layout.html" %}
{% block content %}
<h1> Edit Menu Item </h1>
<div class="well">
{% include 'flash.html' %}
</div>
<form class="form-horizontal" action="#" method="post">
    <p>Name:</p>
    <input type='text' size='30' name='name' maxlength='80' required placeholder='{{item.name }}'>
    <p>Description:</p>
    <input type='text' size='30' name='description' maxlength='250' required placeholder='{{item.description}}'>
    <p>Price:</p>
    <input type='number' pattern='^\d+(\.|\,)\d{2}$' size='30' name='price' required>
    <!--<input type='text' size='30' name='price' maxlength='8' required placeholder='{{item.price}}'>-->
    <p>Course:<p>

        {% if item.course == 'Appetizer' %}
        <dd><input type='radio' name='course' value='Appetizer' checked>Appetizer</dd>
        {%else%}
        <dd><input type='radio' name='course' value='Appetizer'>Appetizer</dd>
        {% endif %}
        {% if item.course == 'Entree' %}
        <dd><input type='radio' name='course' value='Entree' checked>Entree</dd>
        {%else%}
        <dd><input type='radio' name='course' value='Entree'>Entree</dd>
        {% endif %}
        {% if item.course == 'Main' %}
        <dd><input type='radio' name='course' value='Main' checked>Main</dd>
        {%else%}
        <dd><input type='radio' name='course' value='Main'>Main</dd>
        {% endif %}
        {% if item.course == 'Dessert'%}
        <dd><input type='radio' name='course' value='Dessert' checked>Dessert</dd>
        {% else %}
        <dd><input type='radio' name='course' value='Dessert'>Dessert</dd>
        {% endif %}
        {%if item.course =='Beverage'%}
        <dd><input type='radio' name='course' value='Beverage' checked>Beverage</dd>
        {% else %}
        <dd><input type='radio' name='course' value='Beverage'>Beverage</dd>
        {% endif %}
        <input type='submit' value='Edit'>
        <a href='\'> Cancel </a>
</form>

<!-- <form action="#" method='post'>
    <p>Name:</p>
    <input type='text' size='30' name='name' maxlength='80' required placeholder='{{item.name }}'>
    <p>Description:</p>
    <input type='text' size='30' name='description' maxlength='250' required placeholder='{{item.description}}'>
    <p>Price:</p>
    <input type='number' pattern='^\d+(\.|\,)\d{2}$' size='30' name='price' required>
    <p>Course:<p>

        {% if item.course == 'Appetizer' %}
        <dd><input type='radio' name='course' value='Appetizer' checked>Appetizer</dd>
        {%else%}
        <dd><input type='radio' name='course' value='Appetizer'>Appetizer</dd>
        {% endif %}
        {% if item.course == 'Entree' %}
        <dd><input type='radio' name='course' value='Entree' checked>Entree</dd>
        {%else%}
        <dd><input type='radio' name='course' value='Entree'>Entree</dd>
        {% endif %}
        {% if item.course == 'Main' %}
        <dd><input type='radio' name='course' value='Main' checked>Main</dd>
        {%else%}
        <dd><input type='radio' name='course' value='Main'>Main</dd>
        {% endif %}
        {% if item.course == 'Dessert'%}
        <dd><input type='radio' name='course' value='Dessert' checked>Dessert</dd>
        {% else %}
        <dd><input type='radio' name='course' value='Dessert'>Dessert</dd>
        {% endif %}
        {%if item.course =='Beverage'%}
        <dd><input type='radio' name='course' value='Beverage' checked>Beverage</dd>
        {% else %}
        <dd><input type='radio' name='course' value='Beverage'>Beverage</dd>
        {% endif %}
        <input type='submit' value='Edit'>
        <a href='\'> Cancel </a>
</form> -->
{% endblock %}