{% extends "layout.html" %}
{% block content %}
<h2>Edit {{item.name}}</h2>
{% include 'flash.html' %}
<div class="well">
<form class="form-horizontal" action="#" method="post">
    <label>Name:</label>
    <input type='text' name='name' maxlength='80' placeholder='{{item.name }}' value='{{item.name}}' required>
    <label>Description:</label>
    <input type='text' name='description' maxlength='250' placeholder='{{item.description}}' value='{{item.description}}' required>
    <label>Price:</label>
    <input type='text' placeholder="{{item.price}}" pattern='^\d+(\.|\,)\d{2}$' name='price' value="{{item.price}}" required>
    <label>Course:<label>
    <table class="table table-hover">
        <tr>
            <td width="5px">
                {% if item.course == 'Appetizer' %}
                    <input type='radio' name='course' value='Appetizer' checked>
                {%else%}
                    <input type='radio' name='course' value='Appetizer'>
                {% endif %}
            </td>
            <td>Appetizer</td>
        </tr>
        <tr>
            <td width="5px">
                {% if item.course == 'Entree' %}
                    <input type='radio' name='course' value='Entree' checked>
                {%else%}
                    <input type='radio' name='course' value='Entree'>
                {% endif %}
            </td>
            <td>Entree</td>
        </tr>
        <tr>
            <td width="5px">
                {% if item.course == 'Main' %}
                    <input type='radio' name='course' value='Main' checked>
                {%else%}
                    <input type='radio' name='course' value='Main'>
                {% endif %}
            </td>
            <td>Main</td>
        </tr>
        <tr>
            <td width="5px">
                {% if item.course == 'Dessert' %}
                    <input type='radio' name='course' value='Dessert' checked>
                {%else%}
                    <input type='radio' name='course' value='Dessert'>
                {% endif %}
            </td>
            <td>Dessert</td>
        </tr>
        <tr>
            <td width="5px">
                {% if item.course == 'Beverage' %}
                    <input type='radio' name='course' value='Beverage' checked>
                {%else%}
                    <input type='radio' name='course' value='Beverage'>
                {% endif %}
            </td>
            <td>Beverage</td>
        </tr>
    </table>
    <input type='submit' value='Edit'>
    <a href='\restaurants\{{item.restaurant.id}}\menu'>Cancel</a>
</form>
</div>
{% endblock %}