{% extends "layout.html" %}
{% block content  %}
<div class='pane'>
<h2>{{ restaurant.name }}</h2>
{% include 'flash.html' %}
{% if items !=[] %}
    <a href="{{url_for('newMenuItem', restaurant_id = restaurant.id )}}">New Menu Item</a>
    </br>
<h4>Appetizers</h4>
{% for item in items %}
{% if item.course == 'Appetizer' %}    
    {% include 'menuItem.html' %}
{% endif %}
{% endfor %}
<h4>Entrees</h4>
{% for item in items %}
{% if item.course == 'Entree' %}    
    {% include 'menuItem.html' %}
{% endif %}
{% endfor %}
 <h4>Mains</h4>
{% for item in items %}
{% if item.course == 'Main' %}    
    {% include 'menuItem.html' %}
{% endif %}
{% endfor %}
 <h4>Desserts</h4>
{% for item in items %}
{% if item.course == 'Dessert' %}    
    {% include 'menuItem.html' %}
{% endif %}
{% endfor %}
<h4>Beverages</h4>
{% for item in items %}
{% if item.course == 'Beverage' %}    
    {% include 'menuItem.html' %}
{% endif %}
{% endfor %}
{% else %}
<p> You currently have no menu items.<p>
<a href="{{url_for('newMenuItem', restaurant_id = restaurant.id )}}">Create Menu Item</a>
{% endif %}
</div>
{% endblock %}